body{
    font-size: 15px;
    line-height: 1.65;
    color: #696969;
    background-color: #fff;
    font-weight: 400;
    }
    *{
    box-sizing:border-box;
    }
    section{
    margin-bottom:20px;
    }
    /*шапка сайта*/
    .header-bcgnd{
    background:#e8ebf2;
    box-shadow: 0px 2px  6px 0px rgba(0,0,0,0.2);
    border-bottom: 1px solid #d9d9d9;
    }
    .navbar-flex{
    display: flex;
    flex-wrap:wrap;

    }
    .header-flex{
    display: flex;
          /* justify-content: space-between; */
          align-items: center;
          }
    .logo{
        display:inline-block;

    }
    .logo img{
         display:block;
    }
    .bcgnd{
   /*  background:red;*/
    }
    .bgd-blue{
    }
    .slide-top{
        background: rgb(66, 162, 184);}
        .bckgd-gray{
         background: #e8ebf2;
        }
        /*footer*/
.footer{
    background: #e8ebf2;
        }
.list-icons{
            list-style: none;
             margin: 0;
             padding: 0;
             display: flex;
             justify-content:space-between;
             flex-wrap:wrap;
             max-width: 200px;
          }
[class*="i-"]{
    display:inline-block;
    width:53px;
    height:53px;
    background-image:url(../images/sprite.png);
            }
.i-skype{
              background-position: 120px 168px;
            }
.i-facebook{
              background-position: 120px 3px;}
.i-linkedin{
              background-position: 190px -54px;}
.i-dribbble{
              background-position: 243px 113px;}
.i-pinterest{
              background-position: 50px 280px;}
.i-share{
              background-position: 3px 4px;}
.footer-top{
    margin-bottom: 20px;
    margin-top: 20px;
    }
.list-news ,.list-pages{
        list-style: none;
         margin: 0;
         padding: 0;
  }
 .list-pages >li >a ,
 .list-news >li >a{
         color:black;
         }

 .list-pages >li >a:hover ,
 .list-news >li >a:hover{
    color:#2aacc8;
    }

    /*button downlouwd*/
    .btn-center{
       position: relative;
       }
.posit-absol{
    top: 50px;
    left: 150px;
    position: absolute;
    }
.form-button {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 1px solid #2aacc8;
    background-color: #2aacc8;
    background-image: linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
    color: #0d0707;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
}


    /*images*/
.imgs-list li{
    width:25%;
    margin-bottom:10px;
}

.img{
position:relative;
}
.icon{
text-align: center;
   width:40px;
    height:40px;
    display:inline-block;
}
.icon >img{
margin-top:10px;
}
.title-h2 {
    display: flex;
    align-items: center;
}
    .imgs-list{
       list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    /*    justify-content:space-between;*/
        flex-wrap: wrap;
    }

    .hover-img {
        width: 220px;
        background: #35b0cb;
        padding: 10px 0;
        text-align: center;
        position: absolute;
         bottom: 0;
        z-index: 1;
        margin-left: 15px;
        left: 0;
        margin-top: -65px;
        display: none;
    }
    .img:hover .hover-img{
        display: flex;
        }
    .hover-img .icon{
        margin:0 10px;
    }
.heading{
    display:flex;
    justify-content: space-between;
    border-bottom: 2px solid #e8ebf2;
    margin: 10px 0;
}
.title-h2{
   /* display:block;*/}

.style-text-btn{
    border: 1px solid #2aacc8;
        border-radius: 8px;
        background: aliceblue;
        padding: 10px 10px;
        }