body{
    margin:0;
}
html{
    box-sizing:border-box;
}
*.
*::before,
*::after{
     box-sizing:inherit;
}

.header{
    background-color: #e8ebf2;
}
.navbar-nav{
    margin:0;
    padding:0;
    list-style: none;
}