body{
    margin:0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
* {
    box-sizing:border-box;
}
.container{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
}
a {
     color: #2aacc8;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
        text-decoration: underline;
}
ul{

}
img{
    max-weight:100%;
    height:auto;
}

/*************навигация*/
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header{
    border-bottom: 1px solid #d9d9d9;
    padding: 0;
    box-shadow: 0px 2px  6px 0px rgba(0,0,0,0.2);
    margin-bottom:20px;
    }
.header ,.footer{
    width:100%;
    background-color:#e8ebf2;
}
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap:wrap;

      }
.navbar >li{
    padding:10px;
    margin: 0 10px;
}
 .navbar >li >a{
    color:#000;
    padding:5px 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration:none;
    border-top:5px solid transparent;

       }
  .navbar >li.active a{
  border-top:2px solid #2aacc8;
  }
 .navbar >li.active a:after{
/*
   content:'\\/';
   margin-left:5px;
   font-size:8px;
*/

    }
.navbar >li >a:hover{


        }
.logo{
    display:inline-block;
    margin-left;40px;}
.logo img{
 display:block;
}


/******************main*/
.section-title{
    border-bottom:1px solid grey;
    padding: 15px 0;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
 .section-title >.icon{
    margin-right: 20px;
 }
 .text-style-a{
     font-size: 15px;
     font-weight: 700;
 }

 .wrapper-section{
 display:flex;

     justify-content: space-between;
     flex-wrap: nowrap;
margin:0;
 }

 /*section forms*/
.section-form{}
form{}
.form-group{
    margin-bottom:17px;
}

.form-row{
    display:block;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
.form-lable{
 display:block;
 margin-bottom:10px;
 }
 .form-button{
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
     border-radius: 8px;
     border: 1px solid #2aacc8;
     background-color: #2aacc8;
     background-image: linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
     color: #0d0707;
     font-family: Arial;
     font-size: 18px;
     font-weight: 700;
     line-height: 20px;
     text-transform: uppercase;
      margin-top:10px;
      padding-top:10px;
      padding-bottom:10px;
      text-align:center;
      cursor:pointer;
  }
  .form-button:hover{ background-image: linear-gradient(to bottom, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);}
  .arrow-sbm{
     display: inline-block;
     margin-right: 10px;
     vertical-align: bottom;

 }
 textarea.form-row{
     height:auto;
     resize:vertical;
 }
 .section-form{
     max-width:500px;
         width: 40%;
 }

 /*section map*/
 .wrapp-map{
     border: 1px solid #81e4ed;
     background-color: #e8fcfe;
    padding:20px;
 }
 .section-map{    width: 40%;}
 .title-map{
     margin-bottom: 10px;}
 .img-map img{
     display:block;
     width:100%;
 }
 .adress{
 margin-top:20px;}
 .t-addres{
 color: #000000;
 font-size: 15px;
 font-weight: 700;
 text-transform: uppercase;}

.iner-text{color: #363636;
  font-size: 14px;
  font-weight: 400;}

  /*******************footer*/

  .footer{
border:1px solid rgba(0,0,0,0.15);
padding: 30px 0;
  }
  .footer .list-icons{
    max-width: 200px;
    }
  .row-f{
     display: flex;
     align-items: flex-start;
     justify-content:space-between;
      margin-top: 30px;
   /*  margin: 0 -70px;*/
  }
  .column-f{

  }
  .list-icons{
    list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content:space-between;
     flex-wrap:wrap;
     max-width: 200px;
  }
  .inner-column{
     max-width: 300px;
  }
  .list-icons >li{
    width: 33%;
    padding: 0 7px;
  }
  [class*="i-"]{
  display:inline-block;
  width:53px;
  height:53px;
  background-image:url(../images/sprite.png);
  }
  .i-skype{
    background-position: 120px 168px;
  }
.i-facebook{
    background-position: 120px 3px;}
.i-linkedin{
    background-position: 190px -54px;}
.i-dribbble{
    background-position: 243px 113px;}
.i-pinterest{
    background-position: 50px 280px;}
.i-share{
    background-position: 3px 4px;}

    .list-news ,.list-pages{
        list-style: none;
         margin: 0;
         padding: 0;
         }
 .text-copyright{
     padding-right: 35px;
 }
